<form class="example-form" [formGroup]="locationForm" (ngSubmit)="onSubmit()">

  <mat-form-field class="add-location-full-width">
    <mat-label>Location Code</mat-label>
    <input matInput placeholder="Code" formControlName="code">
  </mat-form-field>

  <mat-form-field class="add-location-full-width">
    <mat-label>Location Name</mat-label>
    <input matInput placeholder="Name" formControlName="name">
  </mat-form-field>

  <mat-form-field class="add-location-full-width">
    <mat-label>Main Image</mat-label>
    <input matInput placeholder="Main Image" formControlName="mainImage">
  </mat-form-field>

  <mat-form-field class="add-location-full-width">
    <mat-label>Thumbnail</mat-label>
    <input matInput placeholder="Thumbnail" formControlName="thumbnail">
  </mat-form-field>

  <mat-form-field class="add-location-full-width">
    <mat-label>Description</mat-label>
    <textarea matInput placeholder="Everything about this location..." formControlName="description"></textarea>
  </mat-form-field>

  <mat-card-actions>
    <button mat-raised-button type="submit" color="primary">Create</button>
  </mat-card-actions>
</form>
