<mat-card class="location-card">
  <mat-card-header>
    <div mat-card-avatar class="location-header-image" [ngStyle]="{'background-image': 'url(' + location.mainImage +')'}"></div>
    <mat-card-title>{{location.name}}</mat-card-title>
    <mat-card-subtitle>{{location.description}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="location-card-img">
    <img mat-card-image src="{{location.mainImage}}" alt="{{location.name}}">
  </mat-card-content>
  <mat-card-content>
    <p>
      {{location.longDescription}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>{{location.numberOfSoldProperties}}</button>
    <button mat-button>{{location.numberOfProperties}}</button>
  </mat-card-actions>
</mat-card>
